

<div class="jumbotron text-center bg-dark text-warning">
    <h1 class="display-4">Welcome to the Dojo Activity Center</h1>
</div>


<div class="row">

    <div class="col-6">
        <h1 class="text-center">Register</h1>
        <partial name="RegPartial"></partial>
    </div>

    <div class="col-6">
        <h1 class="text-center">Login</h1>
        <partial name="LoginPartial"></partial>
    </div>
</div>