
<div class="Login-reg row">

    <div class="col-6">
        <div class="Shadow card">
            <div class="card-body">
                <h1 class="text-center">Register</h1>
                <partial name="RegPartial"></partial>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="Shadow card">
            <div class="card-body">
                <h1 class="text-center">Login</h1>
                <partial name="LoginPartial"></partial>
            </div>
        </div>
    </div>

</div>