

<!-- <div class="jumbotron text-center bg-dark text-warning">
    <h1 class="display-4">Welcome to the Dojo Activity Center</h1>
</div> -->


<div class="Login-reg row">

    <div class="col-6">
        <div class="Shadow card">
            <div class="card-body">
                <h1 class="text-center">Register</h1>
                <partial name="RegPartial"></partial>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="Shadow card">
            <div class="card-body">
                <h1 class="text-center">Login</h1>
                <partial name="LoginPartial"></partial>
            </div>
        </div>
    </div>

</div>